<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Feed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>571DA0F01C77CA2A003A3C90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>571DA1061C77CA2A003A3C90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>571DA1111C77CA2A003A3C90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
